@model IEnumerable<StripeWebApp.Models.Item>


    <style>
        .item:hover
        {
            opacity:1;
        }

    .itemImg:hover {
        opacity:1;
    }

    .itemImg{
        margin-top:30px;
    }

    .itemBtn {
        margin-top: 30px;
        display:flex;
        justify-content:center;
       
    }


    </style>
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-3">
                <div class="item">
                    <form class="d-flex justify-content-center" style="position:relative" asp-action="Create" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <h6 class="itemTitle" name="Name" style="position:absolute;top:40;">@item.Name </h6>
                        <img class="itemImg" name="ImageUrl" src="@item.ImageUrl" style="width:70%;" />
                        <input type="hidden" name="PriceID" value="@item.PriceID" />
                       
                   
                        <input class="itemBtn btn btn-dark" type="submit" value="CheckOut" style="position:absolute;top:60%;" />
                    </form>
                    </div>

              </div>
        }


        </div>
    </div>